*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
body{
    background-color: gold;
}
.popup__stella{
    position: fixed;
    bottom: 0;
    right: 0;
    box-shadow: -2px 0px 17px 7px rgba(0,0,0,0.51);
}
.popup{
    height: 300px;
    width: 650px;
    background-color: white;
    position: relative;
}
.popbtn{
    z-index: 10;
    position: absolute;
    left: -30px;
    border: none;
    top: -30px;
    height: 50px;
    width: 50px;
    background-color: brown;
    border-radius: 50%;
    color: white;
}
.popbtn i{
    font-size: 30px;
}
.popimg{
    width: 35%;
    height: 100%;
    /* background-image: url(../fondsg.png); */
    background-image: url(yustinus-subiakto-_41JjnrSeHU-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    /* background-color: rgb(23, 128, 208); */
}
.poptext{
    position: absolute;
    width: 350px;
    height: 300px;
    top: 0;
    right:0;
    background-color: white;
    padding: 30px;
    text-align: center;
    transition: 0.3s;
}
.poptext p{
    font-size: 20px;
    margin-bottom: 10px;
}
.poptext h2{
    font-size: 50px;
    margin-bottom: 30px;
}
.poptext h4{
    margin-bottom: 50px;
}
/* .poptext a{
    padding: 20px 40px;
    background-color: black;
    border-radius: 5px;
    margin-top: 50px;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
} */
.popup img{
    position: absolute;
    bottom: 0;
    left: -10%;
    width: 55%;
    z-index: 1;
}

@media (max-width:736px) {
    .popup__stella{
        display: none;
    }
  }